<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">Administration Tools</h5>
			<a href='{% url 'building-list'%}' class="btn btn-block btn-lg btn-outline-success text-left"><i class="fas fa-city"></i>&nbsp;Asset Management</a>
			<a href='{% url 'contract-list'%}' class="btn btn-block btn-lg btn-outline-success text-left"><i class="fas fa-file-contract"></i>&nbsp;Contracts</a>
			<a href='{% url 'transaction-list'%}' class="btn btn-block btn-lg btn-outline-success text-left"><i class="fas fa-exchange-alt"></i>&nbsp;Transactions</a>
	</div>
</div>
