{% extends 'basic/base.html' %}
{% block content %}
{% load static %}
<h3 class='mb-4'>Update Building</h3>
<form class='form-horizontal' method='POST' enctype="multipart/form-data" novalidate>
	<fieldset>
		<div class="container m-0">
			{% csrf_token %}
			{% for field in form %}
			<div class="row">
				<div class='col col-2'>
					<p class='text-muted'>{{ field.label }}</p>
				</div>
				<div class='col col-6'>
					{{ field }}
				</div>
				<div class='col'>
					{% if field.errors %}
						{% for error in field.errors %}
							<p class='text-danger'>{{ error | safe }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<div class='row'>
				<button class="btn btn-outline-success ml-2" type="submit">
					Update <i class="far fa-edit"></i>
				</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}
