<div class="card">
	<div class="card-body">
		<h5 class="card-title">Menu</h5>
		<h6 class="card-subtitle mb-2 text-muted">Where do you want to go?</h6>
		<div class="btn-group-vertical btn-block" role="group" aria-label="Basic example">
			<a href='{% url 'services-template'%}' class="btn btn-outline-info border-bottom-0 text-left"><i class="fas fa-concierge-bell"></i> Services & Charges</a>
			<a href='{% url 'tracker-template'%}' class="btn btn-outline-info border-bottom-0 text-left"><i class="fas fa-chart-line"></i> Covid-19 Tracker</a>
			<a href='{% url 'contact-template'%}' class="btn btn-outline-info border-bottom-0 text-left"><i class="fas fa-address-book"></i> Contact</a>
			<a href='{% url 'about-template'%}' class="btn btn-outline-info text-left"><i class="fas fa-info-circle"></i> About</a>
		</div>
	</div>
</div>
