{% extends 'basic/base/base.html' %}
{% block content %}
{% load static %}
<h3 class="font-weight-light mb-2">About</h3>
<div class="container m-0">
	<div class="row">
		<p class="text-muted"> Please see presentation below on this specific web application and web applications in general.</p>
	</div>
	<div class='row'>
		<iframe allowtransparency="true" onload="iframe_has_loaded();" style="background: url('{% static 'funding/spinner.svg' %}'); background-repeat: no-repeat; background-position: center;"
		src="#" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
</div>
{% endblock content%}
